@import "node_modules/nhsuk-frontend/packages/core/settings/all";
@import "node_modules/nhsuk-frontend/packages/core/tools/all";


.heading§ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;

  .text{
    width: 50%;
  }

  .beside {
    @include nhsuk-typography-responsive(32);
    font-weight: $nhsuk-font-bold;
    text-align: right;
    width: 50%;
  }

  @media screen and (max-width: 641px) {
    .text{
      width: 100%;
    }

    .beside {
      @include nhsuk-responsive-margin(4, "bottom");
      text-align: left;
      width: 100%;
    }
  }
}
