@import "node_modules/nhsuk-frontend/packages/nhsuk";

.app-heading-with-time {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;

  .app-heading-with-time-text {
    width: 50%;
  }

  .app-heading-with-time-beside {
    @include nhsuk-typography-responsive(32);
    font-weight: $nhsuk-font-bold;
    text-align: right;
    width: 50%;
  }

  @media screen and (max-width: 641px) {
    .app-heading-with-time-text {
      width: 100%;
    }

    .app-heading-with-time-beside {
      @include nhsuk-responsive-margin(4, "bottom");
      text-align: left;
      width: 100%;
    }
  }
}
