@import "node_modules/nhsuk-frontend/packages/core/settings/colours";

.card{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px $nhsuk-border-color solid;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.beside {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paragraph {
  margin-bottom: 0;
}
